.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 1rem;
  background: white;
  border: 1px solid black;
  z-index: 1;
}

.modal-overlay.show {
  display: block;
}

.modal-overlay {
  display: none;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
}
