body {
  background: hsl(200, 20%, 95%);
}

.loading {
  filter: blur(5px);
  pointer-events: none;
}

.loading-spinner::after {
  content: "";
  z-index: 999;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  border: 20px solid transparent;
  border-bottom-color: hsl(200, 100%, 50%);
  animation: spin infinite 1.25s ease-in;
  mix-blend-mode: multiply;
}

.loading-spinner::before {
  content: "";
  z-index: 999;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  border: 20px solid transparent;
  border-top-color: hsl(200, 100%, 50%);
  animation: spin infinite 2s ease-in-out;
  mix-blend-mode: multiply;
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}
